<div class="objectives">
  <div class="objectives_container">
    <h1>Our <span>Objectives</span></h1>

    <div class="objectives_flex_container">
      <div class="objectives_text_container">
        <div class="objectives_flex_text">
          <span>✦</span>
          <p>
            Reduce over-dependence on vendors and hence eliminate the huge cost
            of software procurement/maintenance for Ecobank group.
          </p>
        </div>

        <div class="objectives_flex_text">
          <span>✦</span>
          <p>
            Serve as trusted technical partner capable of providing effective,
            secured and reliable Business Applications.
          </p>
        </div>
        <div class="objectives_flex_text">
          <span>✦</span>
          <p>
            Serve as a cost-effective outsourcing Centre for services in
            relation to management of software in order to provide support
            mainly to Ecobank affiliates in the best, standardised and
            consistent manner.
          </p>
        </div>
        <div class="objectives_flex_text">
          <span>✦</span>
          <p>
            Serve as a centre of excellence for Robotics Process Automation to
            gain improved productivity and seeks to drive digitisation of the
            Ecobank group, using Agile delivery by improving Customer
            experience​, Cost, Process optimisation​ and improvements using AI.
          </p>
        </div>
        <div class="objectives_flex_text">
          <span>✦</span>
          <p>
            Expand its scope to provide payment services to all countries across
            Africa through the provision of financial technological (Fintech)
            services.
          </p>
        </div>
      </div>

      <div class="objectives_image_container">
        <img src="{{imageobj}}" />
      </div>
    </div>
  </div>
</div>
