<div class="navbar">
    <div class="navbar_container">
      <div class="nav__logo">
        <p>eProcess</p>
        <p>GHANA</p>
      </div>
  
      <div class="nav_links">
        <a
          routerLink="/eProcess-ghana"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          href=""
          >Home</a
        >
        <a
          routerLink="/eProcess-ghana/about-us"
          routerLinkActive="active"
          href=""
          >About Us</a
        >
        <a
          routerLink="/eProcess-ghana/gallery"
          routerLinkActive="active"
          href=""
          >Gallery</a
        >
        <a
          routerLink="/eProcess-ghana/blog"
          routerLinkActive="active"
          href=""
          >Blog</a
        >
      </div>
  
      <app-custom-button [text]="customtext"></app-custom-button>
    </div>
  </div>
  
  