<div class="gallery">
  <div class="gallery_container">
    <div class="gallery_mini_container">
      <p>INTERNATIONAL WOMEN’S DAY - <span>2023</span></p>

      <div class="images">
        <div class="">
          <img src="../../../../assets/images/gallery-image.png" />
        </div>
        <div class="images_item">
          <img src="../../../../assets/images/gallery-image2.png" />
          <img src="../../../../assets/images/gallery-image4.png" />
        </div>
        <div class="images_item">
          <img src="../../../../assets/images/gallery-image3.png" />
          <img src="../../../../assets/images/gallery-image5.png" />
        </div>
      </div>
    </div>

    <!-- OFFICE HOURS -->
    <div class="gallery_mini_container">
      <p>OFFICE HOURS - <span>2020</span></p>

      <div class="images">
        <div class="images_item">
          <img src="../../../../assets/images/gray1.png" />
          <img src="../../../../assets/images/gray2.png" />
        </div>
        <div class="">
          <img src="../../../../assets/images/gray3.png" />
        </div>
        <div class="images_item">
          <img src="../../../../assets/images/gray4.png" />
          <img src="../../../../assets/images/gray5.png" />
        </div>
      </div>
    </div>


    <div class="gallery_mini_container">
        <p>CELEBRATING OUR TEAM LEADS AND MANAGERS - <span>2020</span></p>
  
        <div class="images">
          <div class="images_item">
            <img src="../../../../assets/images/gray1.png" />
            <img src="../../../../assets/images/gray2.png" />
          </div>
          <div class="">
            <img src="../../../../assets/images/gray3.png" />
          </div>
          <div class="images_item">
            <img src="../../../../assets/images/gray4.png" />
            <img src="../../../../assets/images/gray5.png" />
          </div>
        </div>
      </div>


      <div class="gallery_mini_container">
        <p>BEACH HANGOUT - <span>2022</span></p>
  
        <div class="images">
          <div class="images_item">
            <img src="../../../../assets/images/gray1.png" />
            <img src="../../../../assets/images/gray2.png" />
          </div>
          <div class="">
            <img src="../../../../assets/images/gray3.png" />
          </div>
          <div class="images_item">
            <img src="../../../../assets/images/gray4.png" />
            <img src="../../../../assets/images/gray5.png" />
          </div>
        </div>
      </div>


      <div class="gallery_mini_container">
        <p>WORK FROM HOME - <span>2020</span></p>
  
        <div class="images">
          <div class="images_item">
            <img src="../../../../assets/images/gray1.png" />
            <img src="../../../../assets/images/gray2.png" />
          </div>
          <div class="">
            <img src="../../../../assets/images/gray3.png" />
          </div>
          <div class="images_item">
            <img src="../../../../assets/images/gray4.png" />
            <img src="../../../../assets/images/gray5.png" />
          </div>
        </div>
      </div>


      <div class="gallery_mini_container">
        <p>OUR MEN ARE THE HEROES - <span>2020</span></p>
  
        <div class="images">
          <div class="images_item">
            <img src="../../../../assets/images/gray1.png" />
            <img src="../../../../assets/images/gray2.png" />
          </div>
          <div class="">
            <img src="../../../../assets/images/gray3.png" />
          </div>
          <div class="images_item">
            <img src="../../../../assets/images/gray4.png" />
            <img src="../../../../assets/images/gray5.png" />
          </div>
        </div>
      </div>
      
  </div>
</div>
