<div class="products">
  <div class="products_container">
    <div class="products_flex">
      <h2>
        <span class="lblue">Products</span> and
        <span class="lyellow">Services</span> we have
        <span class="llblue">deployed</span>
      </h2>
      <p>
        We have provided series of digital solutions and products in the FinTech
        Industry that has enhanced and improved people’s lives.
      </p>
    </div>

    <!-- Table -->
    <div class="table_container">
      <!-- First Row -->
      <div class="table_row">
        <div class="table_cell">
          <div class="table_number-blue">01</div>
          <div class="table_content">
            <h4>AIMS- Audit Information Management System</h4>
            <p>
              Built to efficiently improve the audit process by effectively
              managing organizational data and automating the audit process.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-green">02</div>
          <div class="table_content">
            <h4>Rafiki (On Mobile App)</h4>
            <p>
              Personalized chatbot for predictive banking experience, that
              tracks unique customer chats for all chat engagement.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-blue">03</div>
          <div class="table_content">
            <h4>Agency Banking Solution</h4>
            <p>
              Enables financial service providers, offer select banking services
              to bank customers through the use of agents who usually are not
              traditional bankers or banking businesses.
            </p>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="table_row">
        <div class="table_cell">
          <div class="table_number-green">04</div>
          <div class="table_content">
            <h4>Rapid Transfer</h4>
            <p>
              Rapid Transfer is an international remittance solution that powers
              cross border, inter-bank and intra-bank transactions across
              multiple channels and currency.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-blue">05</div>
          <div class="table_content">
            <h4>Robotics Process Automation</h4>
            <p>
              Our RPA seeks to drive digitization of the Ecobank group, using
              Agile delivery by improving Customer experience​, Cost, Process
              optimization​ and improvements using AI.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-green">06</div>
          <div class="table_content">
            <h4>Smart Teller</h4>
            <p>
              Smart teller is a client application that allows bank tellers,
              provide services to customers efficiently and effectively with the
              use of mobile devices.
            </p>
          </div>
        </div>
      </div>

      <!-- Third row -->
      <div class="table_row">
        <div class="table_cell">
          <div class="table_number-blue">07</div>
          <div class="table_content">
            <h4>Ecobank Pay</h4>
            <p>
              Ecobank pay is a collections solution that allows customers to
              conveniently pay at merchant locations where QR codes are
              available.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-green">08</div>
          <div class="table_content">
            <h4>Corporate API</h4>
            <p>
              This is open API used by corporate customers to perform
              transactions with the Bank. With minimum dependencies on the Bank.
            </p>
          </div>
        </div>

        <div class="table_cell">
          <div class="table_number-blue">09</div>
          <div class="table_content">
            <h4>Mobile Money</h4>
            <p>
              Financial transactions are done using a mobile phone without
              internet access, where value is stored virtually (e-money) in an
              account associated with a SIM card.
            </p>
          </div>
        </div>
      </div>

      <!-- Last row -->
      <div class="table_row_last">
        <div class="table_cell">
          <div class="table_number-green">10</div>
          <div class="table_content">
            <h4>USSD</h4>
            <p>
              TThis is an alternate to mobile money financial services that is
              available to most phone types used in Africa, the catchment area
              for Ecobank products.
            </p>
          </div>
        </div>

        <div class="table_cell_eleven">
          <div class="table_number-blue">11</div>
          <div class="table_content">
            <h4>Mobile/Web Integrations and App Development</h4>
            <p>
              Our diverse team of exceptional talents, deliver world class
              financial software and technology solutions, Enterprise Resource
              Planning (ERP) systems, Business automation and other scalable
              custom-made applications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
