
<div class="philosophy_container">
  <div class="horizontal-repeat">
    <p>Our philosophy <span>✦</span></p>
    <p>Our philosophy <span>✦</span></p>
    <p>Our philosophy <span>✦</span></p>
    <p>Our philosophy <span>✦</span></p>
  </div>

  <div class="phil_atrribute_growth">
    <p>Growth</p>
  </div>

  <div class="phil_atrribute_integrity">
    <p>Integrity</p>
  </div>

  <div class="phil_atrribute_excellence">
    <p>Excellence</p>
  </div>

  <div class="phil_atrribute_team">
    <p>Team work</p>
  </div>

  <div class="phil_atrribute_fun">
    <p>Fun</p>
  </div>

  <div class="phil_atrribute_empathy">
    <p>Empathy</p>
  </div>
</div>



