<div class="footer">
  <div class="footer_container">
    <div class="footer_logo">
      <h4>eProcess</h4>
      <p class="first">INTERNATIONAL <span>S.A</span></p>
      <p>1310 North Courthouse Road, Suite 890.</p>
      <p>Arlington, VA 22201.</p>
    </div>

    <div class="footer_links">
      <a
        routerLink="/eProcess-International-S.A"
        href=""
        >Home</a
      >
      <p>|</p>

      <a
        routerLink="/eProcess-International-S.A/about-us"
        href=""
        >About Us</a
      >
      <p>|</p>

      <a
        routerLink="/eProcess-International-S.A/gallery"
        href=""
        >Gallery</a
      >
      <p>|</p>

      <a
        routerLink="/eProcess-International-S.A/blog"
        href=""
        >Blog</a
      >
    </div>

    <div class="footer_media">
      <a>
        <mat-icon>mail</mat-icon>
        <p>EM</p>
      </a>
      <a>
        <mat-icon>twitter</mat-icon>
        <p>TW</p>
      </a>
      <a>
        <mat-icon>mail</mat-icon>
        <p>IN</p>
      </a>
    </div>
  </div>

  <div class="footer_copyright">
    <p>© 2024 <span>eProcess.com</span></p>
  </div>
</div>
