<div class="value">
  <div class="value_container">
    <div class="value_header_container">
      <h1>Our <span>Value</span> Proposition</h1>
    </div>
    <div class="value_flex_container">
      <div class="value_flex">
        <div class="value_content">
          <img src="../../../../assets/images/colon.png" />
          <h3>Growth</h3>
          <p>
            By building solutions that aid value growth for digital financial
            service providers.
          </p>
        </div>

        <div class="value_content">
          <img src="../../../../assets/images/colon.png" />
          <h3>Brand Sustainability</h3>
          <p>
            By building customizable solution to suit branding needs and reflect
            brand identity of any client
          </p>
        </div>

        <div class="value_content">
          <img src="../../../../assets/images/colon.png" />
          <h3>Product Scaling</h3>
          <p>
            By offering services that would consistently meet product scaling
            ambitions of financial service providers while improving customer
            loyalty.
          </p>
        </div>
      </div>
      <div class="value_flex">
        <div class="value_content">
          <img src="../../../../assets/images/colon.png" />
          <h3>Service Coverage</h3>
          <p>
            By building solutions that will guarantee improved service expansion
            and market share for our financial services clients.
          </p>
        </div>

        <div class="value_content">
          <img src="../../../../assets/images/colon.png" />
          <h3>Low Cost and Convenience</h3>
          <p>
            By building customizable solution to suit branding needs and reflect
            brand identity of any client
          </p>
        </div>

        <div class="value_nigeria_logo" *ngIf="logostate === true">
          <img src="../../../../assets/images/eprocess-nigeria-logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
