<div class="industry">
  <div class="industry_container">
    <h1>We have been serving the <span class="text-color">FinTech</span></h1>
    <h1><span class="text-color">Industry</span> for more than <span class="text-color">5</span> years.</h1>

    <div class="industry_flex_container">
      <div class="industry_image_container">
        <img src="../../../../assets/images/industry.png" />
      </div>
      <div class="industry_text_container">
        <p>
          <span class="text-weight">eProcess International S.A</span> is a specialised subsidiary of
          <span class="text-weight">Ecobank Transnational Incorporated (ETI)</span>. The company was
          incorporated in <span class="text-weight">2002</span>
          and has its head office 1310 North Courthouse Road, Suite 890.
          Arlington, VA 22201.
        </p>
        <p>
          To meet the business value propositions for digital banking and
          cost-effective software gave rise to the need for a dedicated software
          team within the enterprise
        </p>
        <p>
          <span class="text-weight">eProcess</span> was established with the focus of developing
          Ecobank proprietary software, business process innovations and service
          enhancement. The goals will lead to improving time to market, reducing
          software expenditure cost annually and becoming the innovation hub of
          the bank whilst gradually maturing into a full fintech organization.
        </p>
        <p>
          Presently, eProcess provides technology services to ECOBANK affiliates
          from two sites (Accra and Lagos).
        </p>
      </div>
    </div>
  </div>
</div>
