<div class="data" >
  <div class="data_container" >
    <div>
      <h1>Data don't lie</h1>
      <span>We let data do the talking for us</span>
    </div>
    <div >
      <table >
        <tbody>
        <tr>
          <td>
            <div class="number_blue">01</div>
            <h1>250k+</h1>
            <p>DEPLOYMENTS</p>
          </td>
          <td>
            <div class="number_green">02</div>
            <h1>60+</h1>
            <p>TEAM MEMBERS</p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="number_green">03</div>
            <h1>50+</h1>
            <p>SHIPPED PRODUCTS</p>
          </td>
          <td>
            <div class="number_blue">04</div>
            <h1>713+</h1>
            <p>BUILT API</p>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
