<div class="blog_main">
  <div class="blog_main_container">
    <div class="blog_back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      <p>Back to blog</p>
    </div>

    <div class="blog_main_secondContainer">
      <p class="blog_date">{{ blog.date }}</p>

      <h1>{{ blog.topic }}</h1>

      <div class="blog_container_product">
        <div class="blog_product">
          <p>product</p>
        </div>
        <p>5 mins read</p>
      </div>

      <img class="blog_main_image" src="{{ blog.image }}" alt="blogImage" />

      <div class="blog_container_mainContent">
        <div class="blog_container_mainwriter">
          <div>
            <p>WRITER:</p>
            <div class="blog_container_writer">
              <div class="blog_avatar"></div>
              <div class="blog_writer">
                <p>{{ blog.writer }}</p>
                <p>{{ blog.date }}</p>
              </div>
            </div>
          </div>

          <div class="blog_container_share">
            <p>SHARE ARTICLE VIA::</p>
            <div class="blog_container_media">
              <div class="blog_container_icon">
                <mat-icon class="icon">link</mat-icon>
              </div>
              <p>Copy Link</p>
            </div>

            <div class="blog_container_writer">
              <div class="blog_avatar"></div>
              <p>WhatsApp</p>
            </div>

            <div class="blog_container_writer">
              <div class="blog_avatar"></div>
              <p>Twitter</p>
            </div>

            <div class="blog_container_writer">
              <div class="blog_avatar"></div>
              <p>Facebook</p>
            </div>

            <div class="blog_container_writer">
              <div class="blog_avatar"></div>
              <p>LinkedIn</p>
            </div>
          </div>
        </div>

        <div class="blog_container_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
            dolor sit amet consectetur. Lorem ac sagittis ut convallis tellus
            risus viverra. Massa eleifend vulputate neque aliquet nibh. Sagittis
            nisi est sit ultrices elit viverra nulla felis. Viverra ac facilisis
            ipsum vitae odio pellentesque. Viverra ultrices pharetra ultrices
            egestas quisque habitasse. Morbi enim pellentesque pretium ornare.
            At in tristique platea neque. Convallis sit ut sed praesent
            suspendisse feugiat dui in sapien. Porttitor turpis quisque sit
            volutpat egestas morbi nascetur. Tristique elementum aliquam sit
            adipiscing dignissim turpis faucibus viverra id. Id neque purus vel
            sit eget erat blandit. Iaculis augue pellentesque et scelerisque
            lobortis sed nulla sit mattis. Eu aliquam leo pulvinar praesent.
            Libero eleifend turpis viverra tristique. In consectetur eget
            ultrices venenatis eu nisl consequat. Mauris rhoncus senectus massa
            nec sollicitudin fermentum in elit nam. Tellus habitant ut imperdiet
            ac morbi mattis dictum. Lacinia convallis nisi senectus tincidunt
            nec sapien. Pellentesque ac nullam facilisi tortor mattis non
            lobortis. Id odio nunc in malesuada condimentum. Nisl faucibus quam
            ornare lacus amet ac placerat vestibulum. Facilisis morbi felis id
            vitae sit lorem tellus at quis. Eu elementum facilisis bibendum
            porttitor. Eu nibh ipsum sed massa porta eget dolor enim mauris.
            Sapien in arcu vitae turpis viverra. Rhoncus quis quam varius non
            quisque ullamcorper egestas bibendum id. Adipiscing cursus egestas
            curabitur nisl tristique nam semper leo. Varius viverra et felis
            consectetur scelerisque tortor mauris nibh ornare. Vulputate
            sagittis id fermentum ac faucibus facilisi id pellentesque est. In
            pellentesque maecenas vivamus odio habitasse tellus. Facilisis eget
            nulla gravida morbi in sed. Lorem ipsum dolor sit amet consectetur.
            Lorem ac sagittis ut convallis tellus risus viverra. Massa eleifend
            vulputate neque aliquet nibh. Sagittis nisi est sit ultrices elit
            viverra nulla felis. Viverra ac facilisis ipsum vitae odio
            pellentesque. Viverra ultrices pharetra ultrices egestas quisque
            habitasse. Morbi enim pellentesque pretium ornare. At in tristique
            platea neque. Convallis sit ut sed praesent suspendisse feugiat dui
            in sapien. Porttitor turpis quisque sit volutpat egestas morbi
            nascetur. Tristique elementum aliquam sit adipiscing dignissim
            turpis faucibus viverra id. Id neque purus vel sit eget erat
            blandit. Iaculis augue pellentesque et scelerisque lobortis sed
            nulla sit mattis. Eu aliquam leo pulvinar praesent. Libero eleifend
            turpis viverra tristique. In consectetur eget ultrices venenatis eu
            nisl consequat. Mauris rhoncus senectus massa nec sollicitudin
            fermentum in elit nam. Tellus habitant ut imperdiet ac morbi mattis
            dictum. Lacinia convallis nisi senectus tincidunt nec sapien.
            Pellentesque ac nullam facilisi tortor mattis non lobortis. Id odio
            nunc in malesuada condimentum. Nisl faucibus quam ornare lacus amet
            ac placerat vestibulum. Facilisis morbi felis id vitae sit lorem
            tellus at quis. Eu elementum facilisis bibendum porttitor. Eu nibh
            ipsum sed massa porta eget dolor enim mauris. Sapien in arcu vitae
            turpis viverra. Rhoncus quis quam varius non quisque ullamcorper
            egestas bibendum id. Adipiscing cursus egestas curabitur nisl
            tristique nam semper leo. Varius viverra et felis consectetur
            scelerisque tortor mauris nibh ornare. Vulputate sagittis id
            fermentum ac faucibus facilisi id pellentesque est. In pellentesque
            maecenas vivamus odio habitasse tellus. Facilisis eget nulla gravida
            morbi in sed.
          </p>
        </div>
      </div>
    </div>

    <div class="blog_related_container">
      <h1>See related articles</h1>

      <div class="related_card">
        <div *ngFor="let new of news | slice : 0 : 2">
          <app-blog-card [new]="new"></app-blog-card>
        </div>
      </div>
    </div>
  </div>
</div>
