<app-navbar></app-navbar>

<div class="home">
  <div class="home_container">
    <div class="home_mini_container">
      <div class="home_container_largeText">
        <p>eProcess:</p>
        <p>Redefining <span>Finance</span></p>
        <p>Through <span>Innovation</span></p>
        <p>and <span>Excellence!</span></p>
      </div>
      <div class="home_container_smallText">
        <p>
          Welcome to eProcess International S.A, where financial innovation
          meets excellence. Our cutting-edge technology solutions redefine
          banking, empowering businesses worldwide with secure, efficient, and
          transformative financial experiences. Explore limitless possibilities
          with us.
        </p>
      </div>
    </div>
  </div>
  <div class="home_image">
    <img class="image" src="../../../../assets/images/work.png" alt="" />
  </div>
</div>

<app-logos></app-logos>

<app-data></app-data>

<app-our-services [image]="imageService" [text]="textService"></app-our-services>

<app-gain></app-gain>

<app-the-team></app-the-team>

<app-philosophy></app-philosophy>

<app-our-blog></app-our-blog>

<app-newsletters [text]="newsText"></app-newsletters>

<app-footer></app-footer>
