<div class="navbar">
  <div class="navbar_container">
    <div class="nav__logo">
      <p>eProcess</p>
      <p>INTERNATIONAL <span>S.A</span></p>
    </div>

    <div class="nav_links">
      <a
        routerLink="/eProcess-International-S.A"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        href=""
        >Home</a
      >
      <a
        routerLink="/eProcess-International-S.A/about-us"
        routerLinkActive="active"
        href=""
        >About Us</a
      >
      <a
        routerLink="/eProcess-International-S.A/gallery"
        routerLinkActive="active"
        href=""
        >Gallery</a
      >
      <a
        routerLink="/eProcess-International-S.A/blog"
        routerLinkActive="active"
        href=""
        >Blog</a
      >
    </div>

    <app-custom-button [text]="customtext"></app-custom-button>
  </div>
</div>

