<div class="footer">
    <div class="footer_container">
      <div class="footer_logo">
        <h4>eProcess</h4>
        <p class="first">NIGERIA</p>
        <p>270 B1 Ozumba Mbadiwe, Victoria Island, Lagos, Nigeria.</p>
      </div>
  
      <div class="footer_links">
        <a
          routerLink="/eProcess-nigeria"
          href=""
          >Home</a
        >
        <p>|</p>
  
        <a
          routerLink="/eProcess-nigeria/about-us"
          href=""
          >About Us</a
        >
        <p>|</p>
  
        <a
          routerLink="/eProcess-nigeria/gallery"
          href=""
          >Gallery</a
        >
        <p>|</p>
  
        <a
          routerLink="/eProcess-nigeria/blog"
          href=""
          >Blog</a
        >
      </div>
  
      <div class="footer_media">
        <a>
          <mat-icon>mail</mat-icon>
          <p>EM</p>
        </a>
        <a>
          <mat-icon>twitter</mat-icon>
          <p>TW</p>
        </a>
        <a>
          <mat-icon>mail</mat-icon>
          <p>IN</p>
        </a>
      </div>
    </div>
  
    <div class="footer_copyright">
      <p>© 2023 <span>ecobank.com</span></p>
    </div>
  </div>
  