<div class="blog">
  <div class="blog_container">
    <div class="blog_container_text">
      <h1>Our blog</h1>
      <p>
        Uncover Financial Frontiers: Immerse yourself in eProcess Ghana's blog
        for insightful perspectives, trends, and cutting-edge fintech updates.
      </p>
    </div>

    <!-- The slice pipe takes two arguments: the start index (0 in this case) and the
      end index (2 in this case). This will display only the items with indices 0
      and 1, effectively showing the first two items from the news array. -->
    <div class="blog_card">
      <div *ngFor="let new of news | slice : 0 : 2">
        <app-blog-card [new]="new"></app-blog-card>
      </div>
    </div>

    <div class="button">
      <app-custom-button
        routerLink="/eProcess-ghana/blog"
        [text]="customtext"
      ></app-custom-button>
    </div>
  </div>
</div>
