<div class="app_gain">
  <div class="gain_container">
    <div class="gain_text">
      <h1>What you stand to gain</h1>
      <p>
        Our value preposition is centred on our commitment to always offer true
        value to
      </p>
      <p>our customers by providing services that will ensure:</p>
    </div>

    <div>
      <div class="gain_row">
        <div class="gain_card_blue">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Growth</h3>
            <p>
              By building solutions that aid value growth for digital financial
              service providers.
            </p>
          </div>
        </div>

        <div class="gain_card_yellow">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Brand Suitability</h3>
            <p>
              Building customizable solution to suit branding needs and reflect
              identity of any client.
            </p>
          </div>
        </div>

        <div class="gain_card_blue">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Product Scaling</h3>
            <p>
              Services that will consistently meet product scalign ambitions of
              financial service providers.
            </p>
          </div>
        </div>
      </div>

      <!-- second row -->
      <div class="gain_row">
        <div class="gain_card_yellow">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Low Cost and Convenience</h3>
            <p>
              Solutions that effectively ensures low operational cost and
              conveniently serving a wide range of customers.
            </p>
          </div>
        </div>

        <div class="gain_card_blue">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Quick to market solutions</h3>
            <p>
              Solutions that effectively ensures low operational cost and
              conveniently serving a wide range of customers.
            </p>
          </div>
        </div>

        <div class="gain_card_yellow">
          <div class="gain_icon">
            <mat-icon>notes</mat-icon>
          </div>
          <div>
            <h3>Service Coverage</h3>
            <p>
              By building solutions that will guarantee improved service expansion and
              market share for our financial services clients.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
