<div class="contact-us">
    <div class="contact-us-container">  
      <div class="contact-us-scroll" >
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
        <p>Contact us <span>✦</span></p>
      </div>
    </div>
  </div>
  