<app-g-navbar></app-g-navbar>

<div class="home">
  <div class="home_container">
    <div class="home_mini_container">
      <div class="home_container_largeText">
        <p>eProcess Ghana: <span>Revolutionizing</span></p>
        <p>Finance with</p>
        <p><span>Cutting-Edge Solutions!</span></p>
      </div>
      <div class="home_container_smallText">
        <p>
          Welcome to eProcess Ghana, your gateway to advanced financial
          technology solutions. We empower businesses with innovative, secure,
          and seamless digital financial services, transforming the way you
          manage finances.
        </p>
      </div>
    </div>
  </div>
  <div class="home_image">
    <img class="image" src="../../../../assets/images/overview-1.png" alt="" />
  </div>
</div>


<app-logos></app-logos>

<app-data></app-data>

<app-g-our-services></app-g-our-services>

<app-gain></app-gain>

<app-g-the-team></app-g-the-team>

<app-philosophy></app-philosophy>

<app-g-our-blog></app-g-our-blog>

<app-newsletters [text]="newsText"></app-newsletters>

<app-g-footer></app-g-footer>
