<div class="logos">
  <div class="logo-container">
    <p>We've worked with diverse brands and business:</p>

    <div class="logo-scroll" >
      <img src="../../../assets/images/ecobank.png" alt="Logo 1" class="logo" />
      <img
        src="../../../assets/images/flutterwave.png"
        alt="Logo 2"
        class="logo"
      />
      <img
        src="../../../assets/images/interswitch.png"
        alt="Logo 2"
        class="logo"
      />
      <img src="../../../assets/images/cowrywise.png" alt="Logo 2" class="logo" />
      <img src="../../../assets/images/flutterwave.png" alt="Logo 2" class="logo" />
      <img src="../../../assets/images/monie.png" alt="Logo 2" class="logo" />
      <img src="../../../assets/images/opay.png" alt="Logo 2" class="logo" />
    </div>
  </div>
</div>
