<div class="blog">
  <div class="blog_container">
    <div class="blog_container_text">
      <h1>Our blog</h1>
      <p>
        Dive into the Future of Finance: Explore insights, trends, and expert
        perspectives on eProcess International S.A's dynamic blog.
      </p>
    </div>

    <!-- The slice pipe takes two arguments: the start index (0 in this case) and the
    end index (2 in this case). This will display only the items with indices 0
    and 1, effectively showing the first two items from the news array. -->
    <div class="blog_card">
      <div *ngFor="let new of news | slice : 0 : 2">
        <app-blog-card [new]="new"></app-blog-card>
      </div>
    </div>

    <div class="button">
      <app-custom-button
        routerLink="/eProcess-International-S.A/blog"
        [text]="customtext"
      ></app-custom-button>
    </div>
  </div>
</div>
