.blog {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 100px 0 40px 0;
}

.blog_container {
  width: 100%;
  max-width: 1200px;
}

.blog_container_text h1 {
padding-bottom: 20px;
}

.blog_container_text p {
  font-weight: 200;
  width: 516px;
}

.blog_card {
  display: flex;
  padding-top: 40px;
  gap: 30px;
}

.button{
    margin-top: 90px;
    text-align: center;
}
