<app-n-navbar></app-n-navbar>

<div class="home">
  <div class="home_container">
    <div class="home_mini_container">
      <div class="home_container_largeText">
        <p>
          eProcess Nigeria: Powering <span>Financial</span>
          Futures, Unleashing
          <span>Innovation!"</span>
        </p>
      </div>
      <div class="home_container_smallText">
        <p>
          Welcome to eProcess Nigeria, your gateway to advanced financial
          solutions. Empowering businesses with cutting-edge fintech services,
          we redefine the future of finance through innovation, security, and
          efficiency.
        </p>
      </div>
    </div>
  </div>
  <div class="home_nigeria_logo">
    <img src="../../../../assets/images/eprocess-nigeria-logo.png" />
  </div>

  <div class="home_image">
    <img class="image" src="../../../../assets/images/work2.png" alt="" />
  </div>
</div>

<app-logos></app-logos>

<app-data></app-data>

<app-n-our-services></app-n-our-services>

<app-gain></app-gain>

<app-n-the-team></app-n-the-team>

<app-philosophy></app-philosophy>

<app-n-our-blog></app-n-our-blog>

<app-newsletters [text]="newsText"></app-newsletters>


<app-n-footer></app-n-footer>
